PRIVATE_KEY=

#Vault
OWNER=
VAULT_ADDRESS=
MOCK_USDC_ADDRESS=

# Optional: Set if you have deployed the delegated account
DELEGATED_ACCOUNT_ADDRESS=

# Optional: Etherscan API key for contract verification
ETHERSCAN_API_KEY=

SEPOLIA_RPC_URL=